@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300&display=swap');


@font-face {
    font-family: 'Noto Sans';
    src: url('../../Fonts/NotoSans-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-primario: azure;
    --color-secundario: black;
    --color-secundario-rgba: rgba(0, 0, 0, 0.7);
    --tamanio-texto: 1.5em;
    --color-enlaces: #e5b357;

    --color-primario-alt: black;
    --color-secundario-alt: azure;
    --color-segcundario-rgba-alt: rgba(0,0,0,0.7); 
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.white-theme{
    background-color: var(--color-primario-alt);
    color: var(--color-primario-alt);
    background-image: url(../../Images/white-background.jpg);
}

.dark-theme{
    background-color: var(--color-primario);
    color: var(--color-primario);
    background-image: url(../../Images/background-old.jpg);
}


#set-light-theme-button{
    color: white !important;
}

li {
    list-style: none;
}

ul{
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 1em;
}

.white-theme a{
    color: var(--color-primario-alt);
}

.dark-theme a{
    color: var(--color-primario);
}

a:hover {
    color: var(--color-enlaces);
}