*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100vh;
    background-color: lightcyan;
    background-attachment: fixed;
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

li {
    list-style: none;
}

a{
    text-decoration: none;
    color: azure;
    font-size: 1em;
}

a:hover{
    color: orange;
}

header{
    position: relative;
    padding: 0 2rem;
    background: rgba( 0, 0, 0, 0.7);
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar .logo a {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    color: azure;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {

    background-color: olive;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transform: scale 0.2 ease;
}

.action_logout_btn{
    background-color: red;
}

.action_btn:hover{
    scale: 1.05;
    color: azure;
}

.action_btn:active{
    scale: 0.95;
}

.dropdown_menu {
    position: absolute;
    display: none;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 50%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 36vh;
    z-index: 2;
}


.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn{
    width: 100%;
    padding: 1.2em;
    display: flex;
    justify-content: center;
}



footer {
    background-color: black;
    color: white;
}

footer a{
    text-decoration: none;
    color: white;
}

footer h2{
    color: var(--primary-color);
    margin-bottom: 2rem;
}

footer p{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.footer_content .contanct{
    display: flex;
    flex-direction: column;
}


.footer_copyright{
    padding: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer_content {
    padding: 2rem;
}

.footer_content .container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.footer_content .logo{
    margin-bottom: 2rem;
    color: var(--primary-color);
    font-size: 46px;
    font-weight: bold;
    line-height: 1;
}

.footer_content .icon {
    font-size: 24px;
    margin-right: 5px;
}

.footer_content .icon i {
    margin-right: 1rem;
}

.footer_content .social_media_links{
    margin-top: 5rem;
}

.footer_content .social_media_links .icon{
    font-size: 28px;
    margin-right: 1rem;
}

.footer_content .info{
    margin-left: 3rem;
}

@media (max-width: 991px) {

    .navbar{
        justify-content: space-between;
    }

    .navbar .links, .navbar .action_btn{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }

    .footer_content .container{
        grid-template-columns: repeat(1, 1fr);
    }
    
    .footer_content .info{
        display: none;
    }

    .footer_content .contanct p{
        justify-content: center;
    }

    .social_media_links{
        display: flex;
        justify-content: space-around;
    }
}


