@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@500&family=Roboto:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    background-color: lightcyan;
    background-attachment: fixed;
    background-image: url(../Images/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: azure;
    font-size: 1em;
}

a:hover {
    color: orange;
}

header {
    position: relative;
    padding: 0 2rem;
    font-size: 1.25em;
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 991px) {

    .navbar {
        width: 100%;
        height: 10vh;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .logo a {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .action_btn {
    
        background-color: olive;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transform: scale 0.2 ease;
    }

    .navbar .toggle_btn {
        color: azure;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    
    .navbar .toggle_btn {
        display: block;
    }
    
    .action_logout_btn {
        background-color: red;
    }
    
    .dropdown_menu {
        position: absolute;
        display: none;
        right: 2rem;
        top: 10vh;
        height: 0vh;
        width: 50%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .dropdown_menu.open.login {
        height: 35vh;
    }
    
    .dropdown_menu.open.logout {
        height: 40vh;
        z-index: 2;
    }
    
    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown_menu .action_btn {
        width: 100%;
        padding: 1.2em;
        display: flex;
        justify-content: center;
    }
    
    .dropdown_menu {
        display: block;
    }

    
    
    footer {
        background-color: black;
        color: white;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
    
    footer h2 {
        color: var(--primary-color);
        margin-bottom: 2rem;
    }
    
    footer p {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .footer_content .contanct {
        display: flex;
        flex-direction: column;
    }
    
    
    .footer_copyright {
        padding: 1rem;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer_content {
        padding: 2rem;
    }
    
    .footer_content .container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer_content .logo {
        margin-bottom: 2rem;
        color: var(--primary-color);
        font-size: 46px;
        font-weight: bold;
        line-height: 1;
    }
    
    .footer_content .icon {
        font-size: 24px;
        margin-right: 5px;
    }
    
    .footer_content .icon i {
        margin-right: 1rem;
    }
    
    .footer_content .social_media_links {
        margin-top: 5rem;
        display: flex;
        justify-content: space-around;
    }
    
    .footer_content .social_media_links .icon {
        font-size: 28px;
        margin-right: 1rem;
    }
    
    .footer_content .info {
        margin-left: 3rem;
    }

    .footer_content .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer_content .info {
        display: none;
    }

    .footer_content .contanct p {
        justify-content: center;
    }
}


@media (min-width: 992px) {

    .navbar {
        width: 100%;
        height: 10vh;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .navbar .logo a {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .navbar .links {
        display: flex;
        gap: 2rem;
    }
    
    .navbar .toggle_btn {
        color: azure;
        font-size: 1.5rem;
        cursor: pointer;
        display: none;
    }
    
    .action_btn {
    
        background-color: olive;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
        outline: none;
        border-radius: 20px;
        font-size: 1.2rem;
        font-weight: bold;
        cursor: pointer;
        transform: scale 0.2 ease;
    }
    
    .action_logout_btn {
        background-color: red;
    }
    
    .dropdown_menu {
        position: absolute;
        display: none;
        right: 2rem;
        top: 10vh;
        height: 0vh;
        width: 50%;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(15px);
        border-radius: 10px;
        overflow: hidden;
        transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    
    .dropdown_menu.open.login {
        height: 35vh;
    }
    
    .dropdown_menu.open.logout {
        height: 40vh;
        z-index: 2;
    }
    
    .dropdown_menu li {
        padding: 0.7rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .dropdown_menu .action_btn {
        width: 100%;
        padding: 1.2em;
        display: flex;
        justify-content: center;
    }
    
    
    
    footer {
        background-color: black;
        color: white;
    }
    
    footer a {
        text-decoration: none;
        color: white;
    }
    
    footer h2 {
        color: var(--primary-color);
        margin-bottom: 2rem;
    }
    
    footer p {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    .footer_content .contanct {
        display: flex;
        flex-direction: column;
    }
    
    
    .footer_copyright {
        padding: 1rem;
        background-color: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .footer_content {
        padding: 2rem;
    }
    
    .footer_content .container {
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .footer_content .logo {
        margin-bottom: 2rem;
        color: var(--primary-color);
        font-size: 46px;
        font-weight: bold;
        line-height: 1;
    }
    
    .footer_content .icon {
        font-size: 24px;
        margin-right: 5px;
    }
    
    .footer_content .icon i {
        margin-right: 1rem;
    }
    
    .footer_content .social_media_links {
        margin-top: 5rem;
    }
    
    .footer_content .social_media_links .icon {
        font-size: 28px;
        margin-right: 1rem;
    }
    
    .footer_content .info {
        margin-left: 3rem;
    }

}