section{
    height: 150vh;
    overflow: hidden;
}


.product-content{
    width: 100%; 
    margin-top: 2%;
    height: auto;
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-card{
    display: flex;
    width: 95%;
    height: 100%;
    background-color: rgba(114, 104, 104, 0.5);
}

.justify-content-center{
    margin-top: 2%;
    margin-bottom: 2%;
}

.card-images{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-content{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.card-content > div{
   margin-top: 3%;
}

#carouselIndicators{
    width: 100%;
    height: 100%;
}

.carousel-inner{
    width: 100%;
    height: 100%;
}

#carouselIndicators button{
    width: 180px;
}

.carousel-item{
    height: 100%;
}

.carousel-indicators{
    width: 100%;
    margin: 0;
    bottom: 10em;
}

.btns{
    width: 35% !important;
}

.review-container{
    font-size: 1.5em;
}

.p-content{
    margin-left: 0%;
    display: flex;
    flex-direction: column;
}
.old-price{
    margin-top: 1%;
    font-size: 2em;
    color: red;
    text-decoration: line-through;
}

#cantidad{
    font-size: 2em;
    text-align: center;
}

.elem-compra h2{
    margin-top: 2%;
    margin-right: 2%;
}

.carrito{
    width: 12em;
}

.comprar{
    width: 10em;
    font-size: 1.5em;
}

.stars{
    margin-left: 2%;
}

.p-description{
    margin-left: 3%;
    width: 80%;
    height: 90%;
}

.p-description p{
    font-size: 1.3em;
}

.p-requisites-minimal{
    width: 50%;
    background-color: rgba(62, 59, 59, 0.5);
}

.p-requisites-minimal .specs{
    border-right: 0.2em solid rgba(7, 7, 7, 0.8);
}

.p-requisites-recomended{
    width: 54%;
    background-color: rgba(62, 59, 59, 0.5);
}

.p-requisites h3{
    margin: 0;
    background-color: rgba(7, 7, 7, 0.8);
}

.p-requisites-minimal h3{
    padding-left: 1.5%;
}

.white-theme .comentario{
    background-color: rgba(0, 0, 0, 0.9);
}

.dark-theme .comentario{
    background-color: rgba(255, 255, 255, 0.9);
}

.reviews{
    width: 95%;
    height: auto;
    margin-bottom: 4%;
}

.reviews .review-form{
    height: 50%;
    background: rgba(0, 0, 0, 0.5);
}

.review-form form{
    height: 80%;
}


.reviews .comentarios{
    height: 50%;
}

.reviews h1{
    background-color: black;
    margin-bottom: 0;
    color: white;
}

@media screen and (max-width : 991px){
    section{
        height: 200vh;
    }
    
    .content-card{
        width: 100%;
    }
    .elem-compra{
        width: 92%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    
    .card-images{
        width: 100%;
    }

    .card-content{
        width: 100%;
    }

    .carousel-indicators{
        bottom: 6em;
    }

    .precio-funciones{
        flex-direction: column;
    }

    .content-card{
        flex-direction: column;
    }
}

@media (min-width: 991px) and (max-width : 1336px) {
    
    .p-requisites-minimal h3{
        padding-top: 8% !important;
        padding-bottom: 8% !important;
    }
}

@media (min-width: 991px) and (max-width: 1800px) {
    section{
        height: 180vh;
    }

    .carousel-indicators{
        bottom: 6em;
    }

    .precio-funciones{
        flex-direction: column;
    }
    
    .elem-compra{
        width: 100%;
        margin-top: 2%;
        margin-bottom: 5%;
    }
    
    .card-images{
        width: 100%;
    }

    .card-content{
        width: 100%;
    }
}